[submodule "app/.github.git"]
	path = app/.github.git
	url = git@github.com:rappstack/.github.git
[submodule "lib/domain--any--blog"]
	path = lib/domain--any--blog
	url = git@github.com:rappstack/domain--any--blog.git
[submodule "lib/domain--browser--blog"]
	path = lib/domain--browser--blog
	url = git@github.com:rappstack/domain--browser--blog.git
[submodule "lib/domain--server"]
	path = lib/domain--server
	url = git@github.com:rappstack/domain--server.git
[submodule "lib/domain--server--auth"]
	path = lib/domain--server--auth
	url = git@github.com:rappstack/domain--server--auth.git
[submodule "lib/domain--server--blog"]
	path = lib/domain--server--blog
	url = git@github.com:rappstack/domain--server--blog.git
[submodule "lib/ui--any"]
	path = lib/ui--any
	url = git@github.com:rappstack/ui--any.git
[submodule "lib/ui--any--blog"]
	path = lib/ui--any--blog
	url = git@github.com:rappstack/ui--any--blog.git
[submodule "lib/ui--browser--blog"]
	path = lib/ui--browser--blog
	url = git@github.com:rappstack/ui--browser--blog.git
[submodule "lib/ui--server--blog"]
	path = lib/ui--server--blog
	url = git@github.com:rappstack/ui--server--blog.git
